

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

	body {
		padding-top: 50px;
		padding-bottom: 20px;
	}

	div.top { background-color: #515151;
	 	
 margin-left: auto;
 margin-right: auto;

	}
	


	/* ��(A)�\���̈�S�� */
	div.tabbox { margin-left:margin-right:auto; padding:0px; }

	/* ��(B)�^�u���� */
	p.tabs { margin: 0px; padding: 45px; }
	p.tabs a {
   		/* ��(B-2)�����N���^�u�̂悤�Ɍ����� */
   		display: block; float: left;
   		margin: 0px; padding: 3px;
   		text-align: center;
   		border-radius: 12px 12px 0px 0px; /* �p���ۂ����� */
   		
	}
	/* ��(B-3)�e�^�u�̔z�F */
	p.tabs a.tab1 { margin-left:margin-right:auto; background-color: #FFFFFF; color: #515151; width:520px;border-bottom: solid 5px #00B4FF;}
	p.tabs a.tab2 { margin-left:margin-right:auto; background-color: #FFFFFF; color: #515151; width:520px;border-bottom: solid 5px #EEEEEE;}
	p.tabs a:hover { color: #00B4FF; }

	/* ��(C)�^�u���g�̃{�b�N�X */
	div.tab {
   	/* ��(C-2)�{�b�N�X���ʂ̑��� */
   		height: 350px; overflow: hidden; clear: left;
   		padding:45px;
   		
   		/*box-shadow:5px 5px 3px #EEEEEE;
    	-moz-box-shadow:5px 5px 3px #EEEEEE;
    	-webkit-box-shadow:5px 5px 3px #EEEEEE;*/
    	
	}
	/* ��(C-3)�e�{�b�N�X�̔z�F */
	div#tab1 { border: 2px solid #FFFFFF; background-color: #FFFFFF; BORDER-LEFT:3px solid #00B4FF;BORDER-RIGHT:3px solid #00B4FF;BORDER-BOTTOM:3px solid #00B4FF;}
	div#tab2 { border: 2px solid #FFFFFF; background-color: #FFFFFF; BORDER-LEFT:3px solid #00B4FF;BORDER-RIGHT:3px solid #00B4FF;BORDER-BOTTOM:3px solid #00B4FF;}
	div.tab p { margin: 0.5em; }














